.heading-block{
    color: #000;
    margin: 0px;
    height: 72x;
    text-align: left;
    position: relative;
    padding: 22px 0px;
    h2{
        display: inline;
        color: #000;
        font-size: 28px;
        font-weight: normal;
        line-height: 28px;
        a{
            color: #000;
        }
    }
    .sub-tit{
        display: inline;
        margin-left: 10px;
        font-size: 14px;
        color: #666666;
        }
    .more-link{
        position: absolute;
        right: 5px;
        bottom: 25px;
        color: #666;
        font-size: 12px;
        height: 14px;
        line-height: 17px;
        background: url("https://img4.xiji.com/themes/ecstore/images/index_161107/more_icon.png") right top no-repeat;
        padding-right: 16px;
    }
}



.static_topBar{
    width: 100%;
    a{
        display: block;
        img{
            width: 100%;
        }
    }
        
}
// topbar部分
.topbar{
    width: 100%;
    height: 31px;
    border-bottom: 1px solid #E4E4E4;
    background: #fff;
    .topbar_containt{
        width: 1200px;
        margin: 0 auto;
        height: 100%;
        padding-top:6px;
        .topbar-left{
            float: left;
            width: 310px;
            height: 30px;
            .topbar-left-contain{
                height: 100px;
                height: 100%;

            }
            a{
                display: block;
                float: left;
                height: 100%;
                font: 12px "微软雅黑";
                color:#28282E;
                text-align: center
            }
            span{
                display: block;
                float: left;
                height: 100%;
                font: 12px "微软雅黑";
                color:#28282E;
            }
            .country_icon{
                width: 28px;
                height: 28px;
                margin-top: -2px;
                overflow: hidden;
                background: url("https://img1.xiji.com/themes/ecstore/images/index_161107/pop_setting_bg01_180209.png") left 0 top -75px no-repeat;
            }
            .country_txt{
                width: 37px;
            }.country_coin{
                width: 43px;
                padding-right: 10px;
                box-sizing: content-box;
                background: url("https://img1.xiji.com/themes/ecstore/images/index_160509/top_sel_bg.jpg") right 0 top 1px  no-repeat
            }
            em{
                display: block;
                float: left;
                // margin: 3px 5px 0;
                margin-top: 3px;
                width: 0;
                height: 12px;
                border-right:1px dashed #ddd;
            }
        }
        .topbar-right{
            float: right;
            width: 300px;
            height: 30px;
            em{
                display: block;
                float: right;
                // margin: 3px 5px 0;
                margin-top: 3px;
                width: 0;
                height: 12px;
                border-right:2px solid #E4E4E4;
            }
            a{
                display: block;
                // width: 100%;
                height: 30px;
                text-align: center;
                font-size: 12px;
                color: #787878;
                padding: 0 14px;
            }
            .topbar-right-item{
                float: right;
                height: 100%;
            }
            .service-link{
                position: relative;
                padding-right: 10px;
                // overflow: hidden;
                .service-link-title{
                    background: url("https://img1.xiji.com/themes/ecstore/images/index_160509/top_service_arr.png") right 0 top 2px no-repeat;
                    padding-right: 18px;
                }
                .service-link-detail{
                    position: absolute;
                    top: 25px;
                    left: 0;
                    background: #fff;
                    display: none;
                    a{
                        width: 90px;
                        height: 25px;
                        border:1px solid #d9d8d8;
                        border-top: none;
                        padding-top: 4px;
                    }
                    div:hover{
                        background: #ccc;
                    }
                    .online-server{
                        background: url("https://img1.xiji.com/themes/ecstore/images/index_160509/top_service_icon.png") left 7px top 0 no-repeat;
                        padding: 3px 0 0 20px; 
                    }
                    .help-center{
                        background: url("https://img1.xiji.com/themes/ecstore/images/index_160509/top_service_icon.png") left 7px top -26px no-repeat;
                        padding: 3px 0 0 20px; 
                    }
                }
            }
            .service-link:hover{
                .service-link-detail{
                    display: block;
                }
            }
        }
    }
}


// header部分
header{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 145px;
    h1{
        position: absolute;
        left: 20px;
        top: 40px;
        a{
            display: block;
        }
    }
    .header-main{
        width: 505px;
        margin: 0 auto;
        padding-top: 40px;
        .search{
            height: 46px;
            width: 440px;
            border: 1px solid #ED5831;
            border-right: none;
            outline: none;
            padding: 1px 0 0 5px;
            float: left;
        }
        .submit{
            height: 46px;
            width: 61;
            padding: 0 20px;
            background-color: #ED5831;
            border: none;
            display: block;
            float: left;
            outline: none;
            span{
                display: block;
                height: 100%;
                width: 21px;
                background: url("https://img1.xiji.com/themes/ecstore/images/index_161107/search_icon.png") top 11px left 0 no-repeat; 
            }
        }
        .hots{
            width: 505px;
            padding-top: 5px;
            a{
                display: block;
                float: left;
                margin-right: 17px;
                font-size: 12px;
                color: #999;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
    .personal_center{
        width: 162px;
        overflow: hidden;
        height: 35px;
        border: 1px solid #f6f6f6;
        position: absolute;
        top: 40px;
        right: 125px;
        padding-bottom: 17px;
        z-index: 5;
        transition: 0.5s;
        .sign_top{
            width: 100%;
            height: 46px;
            padding: 10px;
            .sign_top_inner{
                height: 100%;
                width: 100%;
                padding-left: 33px;
                background: url("https://img1.xiji.com/themes/ecstore/images/index_161107/login_icon.png") left 0 top 0 no-repeat;
                a{
                    margin-right: 10px;
                    font-size: 14px;
                    color: #000;
                }
            }
        }
        .signin-box{
            width: 140px;
            text-align: center;
            padding-top: 20px;
            margin: 0 auto;
            .login-btn{
                width: 106px;
                height: 33px;
                border-radius: 5px;
                text-align: center;
                display: block;
                color: #fff;
                background: #ED5831;
                margin: 0 auto 10px ;
                padding-top: 5px;
                font-size: 14px;
            }
            p{
                color: #666;
                font-size: 13px;
                margin-bottom: 8px;
            }
            .signup-btn{
                padding-right: 17px;
                background: url("https://img1.xiji.com/themes/ecstore/images/index_161107/signup_icon.png") right 0 top 5px no-repeat;
                color: #ED5831;
            }
        }
    }
    .personal_center:hover{
        background: #fff;
        border: 1px solid #c9c9c9;
        height: 164px;
    }

    // 购物车
    #minicart_wrap{
        position: absolute;
        right: 0;
        top: 40px;
        width: 112px;
        height: 46px;
        .has-minicart{
            position: absolute;
            right: 0;
            top: 0;
            z-index: 4;
            width: 112px;
            height: 46px;
            border: 1px solid #f6f6f6;
            .minicart-text{
                display: block;
                padding-left: 45px;
                margin: 10px 0 10px 10px;
                height: 24px;
                width: 102px;
                color: #000;
                position: relative;
                background: url("https://img1.xiji.com/themes/ecstore/images/index_161107/cart_icon.png") left 0 top 0 no-repeat;
                .cart-txt{
                    display: block;
                    font-size: 14px;
                    line-height: 24px;
                }
                .op-cart-number{
                    position: absolute;
                    top: -8px;
                    left: 17px;
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 25px;;
                    color: #fff;
                    background: #ED5831;
                }
            }
        }
        .minicart-cont{
            display: none;
            position: absolute;
            top: 45px;
            right: 0;
            z-index: 3;
            border: 1px solid #c9c9c9;
            padding: 15px 10px 0;
            min-height: 50px;
            width: 300px;
            .clearCart{
                width: 200px;
                height: 40px;
                line-height: 40px;
                background: #ED5831;
                color: #fff;
                text-align: center;
                margin: 0 auto 20px;
                border-radius:10px;
                cursor: pointer;
            }
            li{ 
                width: 100%;
                height: 100px;
                display: flex;margin-bottom: 15px;
                justify-content: space-between;
                // flex-direction: column;

            img{
                height: 100px;
                width: 80px;
            }
            }
        }
    }
    #minicart_wrap:hover{
        background: #fff;
        .minicart-cont{
            display: block;
            background: #fff;
        }
        .has-minicart{
            border-color: #c9c9c9;
            border-bottom-color:#fff; 
        }
    }
}


// nav部分
nav{
    width: 100%;
    height: 39px;
    border-bottom: 2px solid #212121;
    // margin-top: 30px;
    .inner-wrap{
        width: 1200px;
        margin: 0 auto;
        .category-list{
            float: left;
            position: relative;
            width: 320px;
            height: 100%;
            .CFBtn{
                width: 100%;
                height: 37px;
                padding-left: 50px;
                background: url("https://img0.xiji.com/themes/ecstore/images/index_161107/catagory_tit_bg.png")18px 1px no-repeat;
                line-height: 37px;
                color: #000;
            }
            .CFList{
                position: absolute;
                left: 0;
                top: 39px;
                z-index: 1000;
                height: 0;
                width: 320px;
                overflow: hidden;
                background: #333;
                transition: .4s;
                .CFListContainer{
                    height: 100%;
                    width: 100%;
                    .CFitem{
                        height: 12.5%;
                        width: 100%;
                        padding: 9px 20px;
                        &:hover{
                            .sub-box{
                                display: block;
                            }
                            .CFListLV03-item{
                                a{
                                    color:#fff;
                                }
                            }
                        }
                        .category-link{
                            display: block;
                            float: left;
                            height: 100%;
                            width: 70px;
                            height: 30px;
                            color: #fff;
                            line-height: 30px;
                            text-align: left;
                        }
                        .CFListLV03-item{
                            float: left;;
                            width: 200px;
                            height: 100%;
                            li{
                                float: left;
                                height: 30px;
                                line-height: 30px;
                                color: #999;
                                font-size: 12px;
                                a{
                                    height: 30px;
                                    line-height: 30px;
                                    color: #999;
                                    font-size: 12px;
                                }
                            }
                        }
                        .sub-box{
                            display: none;
                            width: 880px;
                            height: 390px;
                            position: absolute;
                            left: 320px;
                            top: 0;
                            background: #fff;
                            .sub-item-box{
                                width: 640px;
                                float: left;
                                .CFListLV02Text{
                                    width: 580px;
                                    padding: 12px 0;
                                    margin: 0 40px 0 20px;
                                    border-bottom: 1px dotted #e4e4e4;
                                    a:hover{
                                        color:#ED5831;
                                    }
                                    dt{
                                        float: left;
                                        width: 74px;
                                        a{
                                            color: #333;
                                            font-size: 14px;
                                            font-weight: bold;
                                            text-align: right;

                                        }
                                        span{
                                            color: #333;
                                            font-size: 14px;
                                            font-weight: bold;
                                            text-align: right;

                                        }
                                        
                                    }
                                    .CFListLV03{
                                        width: 500px;
                                        float: right;
                                        a{
                                            color: #333;
                                            display: inline-block;
                                            white-space: nowrap;
                                            line-height: 1.1;
                                            padding: 5px 8px 3px 0;
                                            font-size: 12px;
                                            &:hover{
                                                color: #ED5831;
                                            }
                                        }
                                    }
                                }
                                
                            }
                            .CFListLVBrand{
                                float: left;
                                width: 230px;
                                .brand-tit{
                                    width: 100%;
                                    text-align: center;
                                    font-size: 14px;
                                    padding: 15px 0;
                                    font-weight: bold;

                                }
                                .brands-box{
                                    width: 100%;
                                    li{
                                        float: left;
                                        width: 100px;
                                        height: 61px;
                                        padding: 7px 0;
                                        border: 1px solid #D1D1D1;
                                        margin: 0 15px 15px 0;
                                        text-align: center;
                                        background: #fff;
                                        img{
                                            width: 90px;
                                            height: 45px;vertical-align: bottom;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .menu{
            float: left;
            height: 37px;
            ul{
                height: 100%;
                width:100%;
                li{
                    float: left;
                    height: 100%;
                    

                    a{
                        display: block;
                        height: 27px;
                        line-height: 17px;
                        color: #000;
                        padding: 10px 60px 0 0;
                    }
                    .a-ga-na{
                        width: 170px;
                        background: url("https://img2.xiji.com/themes/ecstore/lang/zh_CN/images/nav/btn_amazing_180625.gif") no-repeat;
                        height: 37px;
                    }
                }
                li:last-child a{
                    padding-right: 0;
                }
            }
        }
    }
}


// list
.container{
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    ul{
        width: 100%;
        padding-top: 20px;
        li{
            width: 25%;
            height: 420px;
            padding: 0 30px;
            margin-bottom: 20px;
            float: left;
            img{
                width: 240px;
                height: 300px;
                border-radius: 10px;
                cursor: pointer;
            }
            .price{
                font-size: 16px;
                color: #333;
                font-weight: bold;
                margin-top: 10px;
            }
            .title{
                font-size: 13px;
                line-height: 20px;
                color: #666;
                max-height: none;
                display: block;
                height: 39px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
            .pushCart{
                border: 1px solid #ED5831;
                border-radius: 3px;
                color: #ED5831;
                height: 32px;
                line-height: 32px;
                background-color: #FFFFFF;
                text-align: center;
                font-size: 16px;
                margin: 8px 0 0 0!important;
                &:hover{
                    background: #ED5831;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}
