@charset "UTF-8";
html, body {
  background: #f6f6f6; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: block; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul, li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

a {
  text-decoration: none;
  color: #999;
  display: inline-block; }

* {
  box-sizing: border-box;
  font-family: "微软雅黑"; }

.clearfix:after {
  clear: both;
  content: '';
  font-size: 0;
  display: block;
  visibility: hidden;
  height: 0; }
  i{
    font-style:normal
  }
